* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.5;
}

.container.fluid {
    font-size: 2.5rem;
}

body {
    background-color: #f2f9fc;
    color: #333333;
    font-size: 2.5rem;
    font-family: 'Baloo', sans-serif;
}

.header-image {
    background: url('../images/banner.jpeg') no-repeat top center,
        #5C809A;
    background-size: contain;
    background-position: center;
    height: 175px;
    margin-bottom: 0;
}

h1 {
    font-family: 'Baloo', sans-serif;
    color: #5C809A !important;
    text-align: center;
}

h2 {
    font-family: 'Baloo', sans-serif;
    color: #5C809A !important;
    text-align: center;
}

h3 {
    font-family: 'Baloo', sans-serif;
    color: #5C809A !important;
    text-align: center;
}

h4 {
    font-family: 'Baloo', sans-serif;
    color: #333333 !important;
    text-align: center;
}

p {
    font-family: 'Baloo', sans-serif;
    font-size: 1.2rem;
    color: #333333;
}

.navbar {
    font-size: 1.5rem;
    padding: 0% !important;
}

.dropdown-menu {
    font-size: 2.5rem;
    font-family: 'Baloo', sans-serif;
    color: #5C809A !important;
}

.dropdown-item.active {
    color: #ffffff;
    background-color: #5C809A !important;
}

.dropdown-item:hover {
    color: #ffffff;
    background-color: #f47f7b !important;
}

.nav-link {
    color: #333333;
    font-family: 'Baloo', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    color: #ffffff;
    background-color: #f47f7b;
}

.nav-link.active {
    color: #ffffff;
    background-color: #5C809A;
}

.section-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: #5C809A;
}

/* For list items scores.html */
.list-group-item {
    font-family: 'Baloo', sans-serif;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    color: #333333;
    padding: 10px 15px;
}

.list-group-item div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.custom-footer {
    background-color: #5C809A;
    color: #ffffff;
    font-family: 'Baloo', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.gameImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#score {
    font-size: 2.5rem;
}

#feedback {
    font-size: 2.5rem;
}

#scrambledWord {
    font-family: 'Baloo', sans-serif ;
    font-size: 4rem;
}

#submit {
    font-family: 'Baloo';
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #F7D371;
    transition: background-color 0.5s ease;
    border: none;
}

#submit:hover {
    background-color: #F47F7B;
    transition: background-color 0.5s ease;
}

#submit:disabled {
    cursor: not-allowed;
}

#restart {
    font-family: 'Baloo';
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #F7D371;
    transition: background-color 0.5s ease;
    border: none;
}

#restart:hover {
    background-color: #F47F7B;
    transition: background-color 0.5s ease;
}

#restart:disabled {
    cursor: not-allowed;
}

#answer {
    box-shadow: 0 0 10px #5C809A;
    font-family: 'Baloo', sans-serif;
}