* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
}

body {
  font-family: 'Baloo', sans-serif;
  background-color: #f2f9fc;
  color: #333333;
}

/* Header */
.header-image {
  background: url('../images/banner.jpeg') no-repeat top center,
  #5C809A;
  background-size: contain; 
  background-position: center;
  height: 175px;
  margin-bottom: 0;
}

h1 {
  font-family: "Baloo", sans-serif;
  color: #5c809a !important;
}

h2, h3 {
  font-family: 'Baloo', sans-serif;
  color: #333333 !important;
}

/* Navigation */
.navbar {
  font-size: 1.5rem;
  padding: 0% !important;
}

.nav-link {
  color: #333333;
  font-family: 'Baloo', sans-serif;
  text-transform: uppercase;
  text-align: center;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #f47f7b;
}

.nav-link.active {
  color: #ffffff;
  background-color: #5C809A;
}

.dropdown-menu {
  font-family: 'Baloo', sans-serif;
}

.dropdown-item.active {
  color: #ffffff;
  background-color: #5C809A !important;
}

.dropdown-item:hover {
  color: #ffffff;
  background-color: #f47f7b !important;
}

/* Topic buttons */
.topic-button {
  font-size: 2.5rem !important;
  font-family: "Baloo", sans-serif !important;
  height: 150px;
  line-height: 150px;
  border-radius: 30px !important;
  border: none !important;
  width: 100%;
  max-width: 400px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 !important;
  vertical-align: middle;
  background-color: #f7d371 !important;
  color: #ffffff;
  text-decoration: none;
}

.topic-button:hover {
  background-color: #f47f7b !important;
}

/* Quiz section */
#flags-container {
  max-width: 800px;
  margin: 0 auto; 
  gap: 10px; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.flag-button img {
  width: 90%;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  border-color: #333;
}

.flag-button img:hover {
  border-color: #f47f7b;
  transform: scale(1.3);
  border-width: 4px;
}

/* Result section */
#result-message {
  font-family: 'Baloo', sans-serif !important;
  color: inherit;
  margin: 2rem;
  font-size: 1.5rem;
}

#next-question {
  font-size: 1.5rem !important;
  font-family: "Baloo", sans-serif !important;
  height: 50px;
  line-height: 50px;
  border-radius: 20px !important;
  border: none !important;
  height: 70px;
  width: 100%;
  max-width: 200px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 !important;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  background-color: #f7d371 !important;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#restart-quiz,
#view-scores {
  font-size: 1.5rem !important;
  font-family: "Baloo", sans-serif !important;
  height: 50px;
  line-height: 50px;
  border-radius: 20px !important;
  border: none !important;
  height: 70px;
  width: 100%;
  max-width: 200px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 !important;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #f7d371 !important;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#next-question:hover,
#restart-quiz:hover,
#view-scores:hover {
  background-color: #f47f7b !important;
}

/* Footer */
.custom-footer {
  background-color: #5c809a;
  color: #ffffff;
  font-family: "Baloo", sans-serif;
  text-transform: uppercase;
}

