/* Music game styles */

* {
    font-family: 'Baloo';
}

#music-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    max-width: 1400px;
    min-height: 45vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
}

#active-game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#music-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
}

#music-header div {
    font-size: 1.5em;
    color: #333;
}

#music-screen {
    text-align: center;
}

#music-screen h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

#music-screen p {
    margin: 5px;
}

#music-screen img {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#m-start-screen h2 {
    margin-top: 6vh;
}

#m-start-screen p {
    margin: 12px;
}

.trivia-question {
    font-size: 24px;
}

/* Buttons and inputs */

.btn {
    border-radius: 10px;
    font-size: 1.25em;
    padding: 10px 20px;
    margin: 15px;
}

.hidden {
    display: none;
}
  
#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    width: 100%;
}

#choice-buttons {
    flex-direction: column;
    align-items: center;
}

#choice-buttons .question {
    margin-bottom: 10px;
    text-align: center;
}

#choice-buttons .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#choice-buttons .button-group button {
    flex: 0 0 auto;
}
  
#answer-buttons .btn {
    margin: 5px;
}

#answer-input {
    width: 50vh;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    position: relative;
    align-items: center;
    text-align: center;
    margin-bottom: 3.5vh;
}

.feedback-box {
    position: static;
    bottom: 35%;
    left: 50%;
    transform: translateX(-20%) translateY(-10px);
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.05);
    transition: transform 2.5s ease-in-out, opacity 2.5s ease-in-out;
    pointer-events: none;
}

@media screen and (max-width: 768px) {

    .feedback-box {
        bottom: 30%;
        left: 50%;
    }

    #answer-input {
        width: 35vh;
    }

    #music-screen img {
        max-width: 250px;
        margin-bottom: 10px;
    }

    #music-header div {
        font-size: 1.1em;
    }
}