/* Music game styles */

#music-container {
    width: 1000px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

#music-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#music-header div {
    font-size: 1.2em;
    font-weight: bold;
}

#music-screen {
    text-align: center;
}

#music-screen img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

/* Buttons and inputs */

.btn {
    border-radius: 5px;
    font-size: 1em;
    padding: 10px 20px;
}
  
#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: center;
}
  
#answer-buttons .btn {
    margin: 5px;
}

#answer-input {
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#feedback {
    font-size: 1.2em;
    font-weight: bold;
}