/* Common styles for common pages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background-color: #f2f9fc;
  color: #333333;
  font-family: "Baloo", sans-serif;
}

/* Header */
.header-image {
  background:
    url("../images/banner.jpeg") no-repeat top center,
    #5c809a;
  background-size: contain;
  background-position: center;
  height: 175px;
  margin-bottom: 0;
}

h1 {
  font-family: "Baloo", sans-serif;
  color: #5c809a !important;
  text-align: center;
}

h2 {
  font-family: "Baloo", sans-serif;
  color: #5c809a !important;
  text-align: center;
}

h3 {
  font-family: "Baloo", sans-serif;
  color: #5c809a !important;
  text-align: center;
}

h4 {
  font-family: "Baloo", sans-serif;
  color: #f47f7b !important;
  text-align: center;
}

p {
  font-family: "Baloo", sans-serif;
  font-size: 1.2rem;
  color: #333333;
  text-align: center;
}

/* Navigation */
.navbar {
  font-size: 1.5rem;
  padding: 0% !important;
}

.nav-link {
  color: #333333;
  font-family: "Baloo", sans-serif;
  text-transform: uppercase;
  text-align: center;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #f47f7b;
}

.nav-link.active {
  color: #ffffff;
  background-color: #5c809a;
}

.dropdown-menu {
  font-family: "Baloo", sans-serif;
}

.dropdown-item.active {
  color: #ffffff;
  background-color: #5c809a !important;
}

.dropdown-item:hover {
  color: #ffffff;
  background-color: #f47f7b !important;
}

.section-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #5c809a;
}

.custom-footer {
  background-color: #5c809a;
  color: #ffffff;
  font-family: "Baloo", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

#ghlink {
  text-decoration: none;
  color: #7aa2f7;
}
